.html_entity-clear {
	clear: both;
}

.html_entity-box_title {
	display: block;
	padding-bottom: 5px;
	font-weight: bold;
	padding: 10px 4px 2px;
}

.html_entity-box_wrapper {
	padding: 0 4px;
}

.html_entity-box_wrapper,
.html_entity-box_title {
	display: block;
	width: 100%;
	clear: both;
	float: left;
}

.html_entity-box_wrapper .html_entity-item {
	height: 30px;
	width: 30px;
	min-width: 30px;
	min-height: 30px;
	display: inline-block;
	text-align: center;
	padding: 3px !important;
	margin: 3px;
	font-size: 16px !important;
	line-height: 12px;
	transition: all 200ms ease;
    border-radius: 0 !important;
}

.html_entity-box_wrapper .html_entity-item.transparent {
	color: transparent !important;
	text-shadow: none !important;
}

.html_entity-box_wrapper .html_entity-item.shy {
	font-size: 8px;
}


#HTMLtoolbox-first-tabpanel-vbox {
	overflow: auto;
}

